@model IEnumerable<Forum_descussion_ASP.NET_core_mvc.Models.QuestionModel>

<div>
   
    @foreach (var item in Model) {

        <div id="div-enregistrements-item">
          <div>  <strong> @Html.DisplayFor(modelItem => item.Titre) </strong> </div>

            <a href="/Enregistrement/postDeleteEnregistrement?idEnregistrement=@ViewData["idEnregistrement"]">Supprimer</a>
        </div>
     
    }
         
</div>


