@{
    ViewData["Title"] = "Mes enregistrements ";
}
@model IEnumerable<Forum_descussion_ASP.NET_core_mvc.Models.ResponseModel>

<div>
          @foreach (var item in Model) {
            <div>
                    @Html.DisplayFor(modelItem => item.ResponseContent)
            <a href="/Enregistrement/postDeleteEnregistrement?idEnregistrement=@ViewData["idEnregistrement"]">Supprimer</a>

            </div>

          }
</div>


