@{
    ViewData["Title"] = "Mes enregistrements ";
}
@model IEnumerable<Forum_descussion_ASP.NET_core_mvc.Models.UserModel>


<div>
    @foreach (var item in Model) {
       <div style="color:white;">
           <img src="~/image/@item.Photo" width="200px" height="200px" style="border-radius:50%; margin: 15px 0;"/>
           @Html.DisplayFor(modelItem => item.NameUser)
       </div>
    }
</div>


