@{
    ViewData["Title"] = "Topics ";
}

@if (ViewData["iduser"] == null)
{
    <partial name="../Shared/Nav_non_connected.cshtml" />
}
else
{
    <partial name="../Shared/Nav_connected.cshtml" />
}

<link rel="stylesheet" href="~/css/topic_index.css" />


<div class="page-list-topic">
    <h1> Topics </h1>
    <div class="div-list-topic">


    @foreach (var item in Model)
    {
            <div class="div-topic"> <a href="/Topic/TopicName?name=@item">@item</a></div>
    }

    </div>
</div>

