@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<link rel="stylesheet" href="~/css/topic_listpartial.css" />

<div class="page-list-topic">
    <h1> Topics </h1>
    <div class="div-list-topic">

    @foreach (var item in Model)
    {
        <a href="/Topic/TopicName?name=@item">@item</a>
    }
    </div>
</div>
