@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<link rel="stylesheet" href="~/css/topic_listpartial.css" />

<div class="page-list-topic">
    <div class="div-list-topic">
    @foreach (var item in Model)
    {
            if (item.Equals( ViewData["name"] ))
        {
                <a href="/Topic/TopicName?name=@item" style="font-weight:800; color: #9a7ce3;  font-size: 20px;">@item</a>

        }else{
                <a href="/Topic/TopicName?name=@item">@item</a>

        }

    }
    </div>
</div>
