@{
    ViewData["Title"] = "Inscription";
}

@model Forum_descussion_ASP.NET_core_mvc.Models.UserModel

<partial name="../Shared/Nav_non_connected.cshtml" />
<link rel="stylesheet" href="~/css/auth.css"/>
                <div class="container">
                    <main role="main" class="pb-3">


                        <div class="div-auth">
                            <h1>Inscription</h1>
                            <br/>

        <form asp-action="Inscription" method="post" >


                <input type="hidden" asp-for="Photo" id="input-user-photo" />
                <img src="" id="img-user-photo" />
                <div id="photopartialzone"></div>


                <br/>
            <div class="form-group">
                <label asp-for="NameUser" class="control-label">Nom</label>
                <input asp-for="NameUser" class="form-control"/>
                <span asp-validation-for="NameUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input type="email" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

           

            <div class="form-group">
                <label asp-for="Password" class="control-label">Mot de passe </label>
                    <input type="password" asp-for="Password" class="form-control" value="" id="password1" onkeyup="checkpassword(value)" required />
                <span asp-validation-for="Password" class="text-danger"></span>
                        <div id="info-pwd"></div>
            </div>

            <div class="form-group">
                <label class="control-label"> Confirmez votre mot de passe </label>
                    <input type="password" class="form-control" value="" onChange="checkpasswordidentique(value)" required />
                <span  class="text-danger"></span>
                <div id="info-pwd2"></div>
            </div>

            <div class="form-group">
                    <input type="submit" value="S'inscrire" class="btn btn-secondary" style="background-color:#455e6a; color:white;" />
            </div>

        </form>
    </div>
</main>
</div>

<script>
            $('#photopartialzone').load("/User/PhotoPartial")


    function checkpassword(pwd, pwdconfirmexiste=false) {
        console.log(pwd)
    if (pwd.length < 8) {
            document.getElementById('info-pwd').innerHTML = " Votre mot de passe doit contenir :  <li>Une majuscule</li> <li>Une minuscule</li> " +
                "<li>Un chiffre</li> <li>Un caractère spécial</li>  <li>Minimum 8 caractères</li> <br /> "
    } else {

            maj = ""; min = ""; nb = ""; spec = ''; 

                if (pwd.match(/[A-Z]/, 'g')) {
           
                maj = ' <img src="/image/check-square-fill.svg"/> '
                }
                if (pwd.match(/[a-z]/, 'g')) {
                min = ' <img src="/image/check-square-fill.svg"/> '
        
                }
                if (pwd.match(/[0-9]/, 'g')) {

                nb = ' <img src="/image/check-square-fill.svg"/> '
                 }
                 
                 if (pwd.match(/[ $|*|-|_|&|+ ]/, 'g')) {
                
                spec = ' <img src="/image/check-square-fill.svg"/> '

                     pwdvalid = true
                        console.log("my password is valid?" + pwdvalid)
                }

            document.getElementById('info-pwd').innerHTML = 
            " <li>Une majuscule " + maj +
            " </li> <li>Une minuscule" + min + "</li> " +
             "<li>Un chiffre " + nb + "</li> <li>Un caractère spécial " + spec +
             "</li> <li>Minimum 8 caractères <img src='/image/check-square-fill.svg'/> </li> "


        }
   
}

    function checkpasswordidentique( pwd2){
        if (pwd2 === document.getElementById("password1").value )
            document.getElementById("info-pwd2").innerHTML= "<p> Vos mot de passe sont identiques.</p>"
        else
            document.getElementById("info-pwd2").innerHTML= "<p> Vos mots de passe ne sont pas identiques.</p>"

}


</script>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


