@model IEnumerable<Forum_descussion_ASP.NET_core_mvc.Models.UserModel>

@{
    ViewData["Title"] = "Liste des utilisateurs";
}


@if (ViewData["iduser"] == null)
{
    <partial name="../Shared/Nav_non_connected.cshtml" />

}
else
{
    <partial name="../Shared/Nav_connected.cshtml" />

}
<div class="container">
    <main role="main" class="pb-3">


        <h1>Les Utilisateurs </h1>

    <div class="div-list-users">
    @foreach (var item in Model) {
        
         <a asp-controller="Question" asp-action="LeursQuestions" asp-route-Id="@item?.Id">
            <img src="~/image/@item.Photo"/>
             <p>@Html.DisplayFor(modelItem => item.NameUser)</p> 
         </a>
          
             
    }
    </div>

</main>
</div>
<style>


    body {
      
        background-color: #455e6a;
    }


    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }



    .div-list-users{
        margin:25px;
        display:flex;
        flex-wrap:wrap;
        align-items:center;
        justify-content:center;
    }

      h1{
          color:white;
          font-size:22px;
          text-align:center;
      }

    .div-list-users a {
        color: #696969;
        text-decoration:none;
        margin:15px 25px;
        background-color: white;
        border-radius: 10px;
    }

    .div-list-users a img{
        width:200px;
        height:200px;
        border-radius:50%;
        object-fit:cover;
    }

        .div-list-users a p{
        text-align:center;
        }
        

</style>