@{
    ViewData["Title"] = "Connexion";
}
@model Forum_descussion_ASP.NET_core_mvc.Models.UserModel

<partial name="../Shared/Nav_non_connected.cshtml" />
<link rel="stylesheet" href="~/css/auth.css"/>

<div class="container">
    <main role="main" class="pb-3">


<div class="div-auth">
    <h1>Mot de passe oublié </h1></br>
    <form asp-action="mdpoublie" method="post">
                <div class="form-group">

                    <label  class="control-label">Saisir votre email : </label>
                    <input type="email"  name="email" class="form-control" required autofocus/>
                </div>

                <p>Vous recevez dans un mail, un lien pour modifier votre mot de passe.</p>

                <div class="form-group">
                    <input type="submit" value="Envoyer" class="btn btn-secondary" style="background-color:#455e6a; color:white;" />
                </div>

               
    </form>
  
</div>

</main>
</div>
