@model IEnumerable<Forum_descussion_ASP.NET_core_mvc.Models.UserModel>

    <div class="div-list-users">
    @foreach (var item in Model) {
        
         <a asp-controller="Question" asp-action="LeursQuestions" asp-route-Id="@item?.Id">
            <img src="~/image/@item.Photo"/>
             <p>@Html.DisplayFor(modelItem => item.NameUser)</p> 
         </a>
    }
    </div>

<style>


    #userlistpartialzone {
      
        background-color: #455e6a;
        padding : 50px 20px;
        margin : 0;
        width: 100%;
    }

    .div-list-users{
        margin:10px 0 ;
        display:flex;
        flex-wrap:wrap;
        align-items: center;
        justify-content: center;
       
    }

    .div-list-users a {
        color: #696969;
        text-decoration:none;
        background-color: white;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        text-align: center;
    }

    .div-list-users a img{
        width:150px;
        height:150px;
        border-radius:50%;
        object-fit:cover;
    }

        .div-list-users a p{
        text-align:center;
        }
        

</style>