@using Microsoft.AspNetCore.Http
@model IEnumerable<Forum_descussion_ASP.NET_core_mvc.Models.QuestionModel>
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/questions.css" />


@if ( ViewData["iduser"]== null){
    <partial name="../Shared/Nav_non_connected.cshtml" />
}else{
    <partial name="../Shared/Nav_connected.cshtml" />
}


<div class="container">
    <main role="main" class="pb-3">

</br>
<div class="div-topics-all-questions">
    <div id="topiclistpartialzone"> </div>
    <div class="div-topics-all-questions-main">
       <partial name="../Shared/ListeDesQuestions.cshtml" />
    </div>
</div>
       

        @section Scripts{
            <script>
                $('#topiclistpartialzone').load("/Topic/ListPartial")
            </script>
        }

        </br>
        </br>
       

</main></div>

<script>
   

    $("#div-resolu").hide()
    $(".div-btn- button").css("color", "black");
    $(".div-btn- button").css("background-color", "transparent");
       
    $("#btn-nn-repondu").css("background-color", "#9a7ce3");
    $("#btn-nn-repondu").css("color", "white");

    $("#btn-nn-repondu").click(function () {
            
        $("#div-nn-repondu").show()
        $("#div-resolu").hide()
            $("#btn-resolu").css("color", "black");
            $("#btn-resolu").css("background-color", "transparent");

            $("#btn-nn-repondu").css("background-color", "#9a7ce3");
            $("#btn-nn-repondu").css("color", "white");

    })
    $("#btn-resolu").click(function () {
        $("#div-nn-repondu").hide()
            $("#div-resolu").show()

            $("#btn-nn-repondu").css("color", "black");
            $("#btn-nn-repondu").css("background-color", "transparent");

            $("#btn-resolu").css("background-color", "#9a7ce3");
            $("#btn-resolu").css("color", "white");
    })


  

</script>
