@model Forum_descussion_ASP.NET_core_mvc.Models.ResponseModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ResponseModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
            <input type="hidden" asp-for="QuestionId" value="@ViewData["idquestion"]" />
           
                <div class="form-group">
                <label asp-for="ResponseContent" class="control-label"></label>
                <input asp-for="ResponseContent" class="form-control" />
                <span asp-validation-for="ResponseContent" class="text-danger"></span>
            </div>
               <input type="hidden" asp-for="DateCreation"  />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
