@model Forum_descussion_ASP.NET_core_mvc.Models.ResponseModel

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
            <input type="hidden" asp-for="QuestionId" value="@ViewData["idquestion"]" />
           
                <div class="form-group">
                <label asp-for="ResponseContent" class="control-label"> Ajouter une réponse </label><br/>
                <textarea asp-for="ResponseContent" class="form-control" required style="width:100%; height: 110px;"></textarea>
                <span asp-validation-for="ResponseContent" class="text-danger"></span>
            </div>
               <input type="hidden" asp-for="DateCreation"  />

    <div class="form-group" style="padding: 20px; display:block; text-align: center;">
                <input type="submit" value="Envoyer ma réponse" class="btn btn-primary" />
            </div>

        </form>

