@model Forum_descussion_ASP.NET_core_mvc.Models.ResponseModel

@{
    ViewData["Title"] = "Delete";
}
<div id="div-delete-reponse">
    
    <dl class="row">
    
       
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponseContent)
        </dd>
     
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreation)
        </dd>
    
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-controller="Question" asp-action="Details" asp-route-id="@ViewData["QuestionId"]">Back to List</a>

    </form>

    </div>

<style>

    body {
        background-color: #455e6a;
    }

    #div-delete-reponse {
        background-color: white;
        border-radius: 15px;
        padding: 15px;
        margin: 50px auto;
        width: 800px;
    }

       

</style>