@model Forum_descussion_ASP.NET_core_mvc.Models.ResponseModel

@{
    ViewData["Title"] = "Delete";
}


<h3>Êtes-vous de vouloir supprimer votre réponse? </h3>

<div style="background-color:white; color: black; padding: 20px; width: 100%; margin:10px 0; border-radius: 10px;">
    @Html.DisplayFor(model => model.ResponseContent)

    <form asp-action="Delete" style="margin: 30px auto; display: block; text-align:center;">
        <input type="hidden" asp-for="Id" />

        <button type="submit" class="btn btn-danger"> Supprimer </button> 

        <button onclick="response_delete_close()" type="button" class="btn btn-light">
            Annuler
        </button>
    </form>



</div>
