@model Forum_descussion_ASP.NET_core_mvc.Models.ResponseModel

@{
    ViewData["Title"] = "Delete";
}
<link rel="stylesheet" href="~/css/response_edit_delete.css" />
<div id="div-delete-reponse">
    
    <dl class="row">
    
       
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponseContent)
        </dd>
     
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreation)
        </dd>
    
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-controller="Question" asp-action="Details" asp-route-id="@ViewData["QuestionId"]">Back to List</a>

    </form>

    </div>

