@{
    ViewData["Title"] = "Home";
}

@if ( ViewData["iduser"]== null){
    <partial name="../Shared/Nav_non_connected.cshtml" />

}else{
    <partial name="../Shared/Nav_connected.cshtml" />

}

<div class="div-accueil">

    <div>
        <h1 class="display-4">Forum</h1>
        </br>

        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
           </p>
    
        </br>

        <button class="btn-Learn-More">Learn More </button>
    </div>

    <div>
        <img src="~/image/discussion-forum.jpg" />
    </div>
</div>

