
body {
    background-color: #338cf4;
    /*background-color: #9a7ce3;*/
    background-color: #8677ac;
    /*background-color: #455e6a;*/
    background-color: whitesmoke;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: hotpink;
    color: white;
}

code::selection {
    background-color: #9a7ce3;
    color: white;
}


:root {
    --font-color: rgb(30, 30, 70);
}

.pb-3 h1:first-child {
    color: var(--font-color);
    font-size: 18px;
}

    .pb-3 h1:first-child a {
        color: var(--font-color);
    }
    .pb-3 h1:first-child svg {
        color: var(--font-color);
    }
