#border {
    border-bottom: 0.5px solid black;
    margin: 20px 0;
}

a {
    text-decoration: none;
    color: dimgrey;
}

.div-btn-choix a {
    text-decoration: none;
    color: white;
}

.btnnn {
    background-color: #9a7ce3;
    color: white;
    padding: 7px 13px;
    border-radius: 7px;
}

#div-enregistrements {
    background-color: white;
    padding: 30px;
    margin: 20px auto;
    border-radius: 15px;
    max-width: 900px;
}

#div-enregistrements-item {
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin: 10px 0;
}

    #div-enregistrements-item a {
        background-color: crimson;
        padding: 5px 12px;
        color: white;
        border-radius: 5px;
    }