

.forum-question1 h3 {
    margin: 20px 0;
}

.forum-reponse, .forum-question1 {
    padding: 20px;
    background-color:white;
    border-bottom: 0.5px solid gray;
}

.forum-question1 {
    border-radius: 15px 15px 0 0;
}

.div-corps {
    display: flex;
}

.left {
    display: flex;
    align-items:center;
    justify-content:flex-start;
    flex-direction:column;
    padding : 0 10px;
}


.question-auteur-image,
.reponse-auteur-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.div-like-dislike {
    margin-left: 50px;
    display: flex;
    flex-direction: row;
}

.div-like-dislike-comment button {
    border: none;
    background-color: transparent;
    margin: 15px;
    margin-left: 0;
}

    .div-like-dislike-comment button svg {
        color: lightgray;
        margin-right: 4px;
    }

.reponse-contenu, .question-contenu {
    margin: 20px 0;
}

.div-like-dislike-comment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: dimgrey;
}


.btnnn {
    background-color: #9a7ce3;
    color: white;
    padding: 7px 13px;
    border-radius: 7px;
}

.btn-edit-response, .btn-delete-response {
    color: dimgrey;
    padding: 7px 13px 7px 0;
}


.btn-save {
    border: none;
    background-color: transparent;
    color: dimgray;
    padding: 10px 0;
    text-decoration : none;
}

#createreponse {
    background-color: white;
    border-radius: 0 0 15px 15px;
    padding: 20px;
}