body {
    background-color: #455e6a;
}

#form-edit-reponse {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    margin: 50px auto;
    width: 600px;
}

#form-edit-reponse textarea {
    width: 100%;
    padding: 10px;
}

#div-delete-reponse {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    margin: 50px auto;
    width: 800px;
}
