
.page-list-topic h1 {
    font-size: 24px;
    margin: 30px 50px;
    text-align: center;
    color: white;
}

.div-list-topic {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    align-content: center;
    margin: 30px auto;
    width: 900px;
    padding: 50px;
    border-radius: 15px;
}

@media (max-width:700px) {
    .div-list-topic {
        width: 90vw;
    }

}

    .div-topic {
        flex: 30%;
        padding: 30px 20px;
        background-color: dodgerblue;
        background-color: white;
        margin: 15px;
        border-radius: 12px;
    }

        .div-topic a {
            color: rgb(30, 30, 70);
            text-decoration: none;
        }
