
#topiclistpartialzone {
    background-color: white;
    border-radius: 15px;
}



.page-list-topic h1 {
    font-size: 24px;
    margin: 20px 50px;
    text-align: center;
}

.div-list-topic {
   
    margin: 0 auto;
    padding: 10px;
    border-radius: 15px;
}

.div-list-topic a{
    padding:20px 0;
    font-size: 15.5px;
    display:block;
    border-bottom: 0.6px solid gray;
}