.container-user-delete, .container-user-edit,
.container-question-delete {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    width: 900px;
    margin: 50px auto;
}

.form-group {
    margin: 15px 0;

}
.container-user-delete h3, .container-user-edit h3{
    font-family:'Microsoft YaHei';

}