:root{
    --font-color: rgb(30, 30, 70);
}

#userlistpartialzone {
    background-color: transparent;
    padding: 50px 20px;
    margin: 0;
    width: 100%;
    height: auto;
}

.div-list-users {
    margin-bottom: -15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#userlistpartialzone h1 {
    color: var(--font-color);
    font-size: 22px;
    text-align: center;
}

.div-list-users a {
    color: var(--font-color);
    text-decoration: none;
    margin: 15px;
    width : 200px;
    height: 100px;
    border-radius: 50%;
    text-align:center;
}

    .div-list-users a img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
    }

    .div-list-users a h2 {
        text-align: center;
        color: var(--font-color);
        margin: 10px 0;
    }



/*

    

#userlistpartialzone {
    background-color: #455e6a;
    padding: 50px 20px;
    margin: 0;
    width: 100%;
}

.div-list-users {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

    .div-list-users a {
        color: #696969;
        text-decoration: none;
        background-color: white;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        text-align: center;
    }

        .div-list-users a img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
        }

        .div-list-users a p {
            text-align: center;
        }


*/